{
  "openapi": "3.1.0",
  "info": {
    "title": "SignalRaven API",
    "version": "1.0",
    "description": "LinkedIn buying-intent signals, sources, watchlist and ICP for a SignalRaven workspace. OAuth 2.1 bearer tokens: create an API key in the app (Settings \u2192 API keys), exchange the client id and secret at https://auth.signalraven.ai/oauth2/token with the client_credentials grant. See https://signalraven.ai/developers.",
    "contact": {
      "name": "SignalRaven",
      "url": "https://signalraven.ai/developers",
      "email": "support@signalraven.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.signalraven.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/register": {
      "post": {
        "operationId": "registerClient",
        "tags": [
          "v1"
        ],
        "summary": "Register an OAuth/MCP client (identity-gated)",
        "description": "Public + rate-limited. Requires a contact email + LinkedIn. Returns client credentials once; the client is pending platform approval (data endpoints return sample data until approved).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1RegisterBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client registered (pending approval)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1RegisterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/signals": {
      "get": {
        "operationId": "v1ListSignals",
        "tags": [
          "v1"
        ],
        "summary": "List signals",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minStrength",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signals (live or sample per client approval)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1SignalsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope or no workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/signals/{id}": {
      "get": {
        "operationId": "v1GetSignal",
        "tags": [
          "v1"
        ],
        "summary": "Get a signal by id",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Signal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1SignalResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sources": {
      "get": {
        "operationId": "v1ListSources",
        "tags": [
          "v1"
        ],
        "summary": "List sources with metrics",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "period",
            "schema": {
              "type": "string",
              "enum": [
                "7",
                "30",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1SourcesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/watchlist": {
      "get": {
        "operationId": "v1GetWatchlist",
        "tags": [
          "v1"
        ],
        "summary": "List watchlist posts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Watchlist posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1WatchlistResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/icp": {
      "get": {
        "operationId": "v1GetIcp",
        "tags": [
          "v1"
        ],
        "summary": "Get the workspace ICP profile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "ICP profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1IcpResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No ICP profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth 2.1 bearer token from auth.signalraven.ai (see /developers)."
      }
    },
    "schemas": {
      "V1RegisterBody": {
        "type": "object",
        "properties": {
          "client_name": {
            "type": "string"
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "registrant_email": {
            "type": "string",
            "format": "email",
            "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
          },
          "registrant_linkedin": {
            "type": "string",
            "format": "uri"
          },
          "scope": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "read:signals",
                "read:sources",
                "read:watchlist",
                "read:icp",
                "read:intelligence",
                "read:usage",
                "read:destinations",
                "write:intelligence",
                "write:destinations",
                "ext:lookups"
              ]
            }
          }
        },
        "required": [
          "client_name",
          "redirect_uris",
          "registrant_email",
          "registrant_linkedin"
        ]
      },
      "V1RegisterResponse": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "approval_status": {
            "type": "string"
          },
          "token_endpoint": {
            "type": "string"
          },
          "authorization_endpoint": {
            "type": "string"
          },
          "granted_scopes": {
            "type": "string"
          },
          "notice": {
            "type": "string"
          }
        },
        "required": [
          "client_id",
          "client_secret",
          "approval_status",
          "token_endpoint",
          "authorization_endpoint",
          "granted_scopes",
          "notice"
        ],
        "additionalProperties": false
      },
      "V1SignalsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1Signal"
            }
          },
          "total": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          },
          "offset": {
            "type": "number"
          },
          "_meta": {
            "$ref": "#/components/schemas/V1Meta"
          }
        },
        "required": [
          "data",
          "total",
          "limit",
          "offset",
          "_meta"
        ],
        "additionalProperties": false
      },
      "V1Signal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "strength": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "person": {
            "type": "object",
            "properties": {
              "company": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "linkedinUrl": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "location": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "company",
              "linkedinUrl",
              "location"
            ],
            "additionalProperties": false
          },
          "icp": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "whyItMatters": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "suggestedOpener": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "talkingPoints": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "postPreview": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "strength",
          "person",
          "icp",
          "whyItMatters",
          "suggestedOpener",
          "talkingPoints",
          "postPreview",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "V1Meta": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "live",
              "sample"
            ]
          },
          "notice": {
            "type": "string"
          },
          "cta": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            },
            "required": [
              "text",
              "url"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "mode"
        ],
        "additionalProperties": false
      },
      "V1SignalResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/V1Signal"
          },
          "_meta": {
            "$ref": "#/components/schemas/V1Meta"
          }
        },
        "required": [
          "data",
          "_meta"
        ],
        "additionalProperties": false
      },
      "V1SourcesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1Source"
            }
          },
          "total": {
            "type": "number"
          },
          "_meta": {
            "$ref": "#/components/schemas/V1Meta"
          }
        },
        "required": [
          "data",
          "total",
          "_meta"
        ],
        "additionalProperties": false
      },
      "V1Source": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "linkedinUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "displayName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "isActive": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ]
          },
          "strengthScore": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "signalCount": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "totalPosts": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "qualifiedPosts": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "linkedinUrl",
          "displayName",
          "isActive",
          "strengthScore",
          "signalCount",
          "totalPosts",
          "qualifiedPosts",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "V1WatchlistResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1Post"
            }
          },
          "total": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          },
          "offset": {
            "type": "number"
          },
          "_meta": {
            "$ref": "#/components/schemas/V1Meta"
          }
        },
        "required": [
          "data",
          "total",
          "limit",
          "offset",
          "_meta"
        ],
        "additionalProperties": false
      },
      "V1Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "sourceId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "author": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "preview": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "relevanceScore": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "lifecycleStatus": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "sourceId",
          "url",
          "author",
          "preview",
          "relevanceScore",
          "lifecycleStatus",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "V1IcpResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/V1Icp"
          },
          "_meta": {
            "$ref": "#/components/schemas/V1Meta"
          }
        },
        "required": [
          "data",
          "_meta"
        ],
        "additionalProperties": false
      },
      "V1Icp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "minEmployees": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "maxEmployees": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "targetIndustries": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "targetTitles": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "targetPersonas": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "targetSeniority": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "additionalContext": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "minEmployees",
          "maxEmployees",
          "targetIndustries",
          "targetTitles",
          "targetPersonas",
          "targetSeniority",
          "additionalContext"
        ],
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "NotFound"
          },
          "message": {
            "example": "Resource not found",
            "type": "string"
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false,
        "description": "Standard error envelope"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "v1",
      "description": "Public API"
    }
  ]
}
